// GLOBAL
// COLORS




// @import "reset";
// @import "variables";
// @import "fonts";
// @import "base";
// @import "global";
// @import "hamburger";
// @import "mainnav";
// @import "mainnav-mobile";
// @import "layout/header";
// @import "layout/workshop";
// @import "layout/about";
// @import "layout/news";
// @import "layout/footer";
//  @import "header";
//  @import "quote";
//  @import "fonts";
//  @import "footer";
//  @import "burgermenu";
@import "mainmenu";


 html {
    scroll-behavior: smooth;
  }

  body{
    p{
      font-family: 'Crimson Text';
    }
    h1{
      font-family: 'Cormorant';
    }
    h2{
      font-family: 'Cormorant';
    }
    
  }

  html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  scroll-behavior: smooth;
}




