/** @format */

.aboutWrapper {
  background-color: #232323;
  .container {
    background-color: antiquewhite;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    text-align: center;

    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    .hidden {
      opacity: 0;
      filter: blur (5px);
      transform: translateX(0%);
      transition: all 2s;
      height: 100%;
    }
    .show {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
      transform: translateY(0);
      max-height: 100%;
    }
  }

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .highlight {
    color: #333;
    font-weight: bold;
  }
}
