.header{
  height:100vh;
  background-color: aquamarine;
}

.portfolio{
  .first{
    display:flex;
    flex-direction:row;
    height:30vh !important;
    margin-bottom:30vh;
    .left{
      width:50%;
      img{max-width:100%;}
    }
    .right{
      width:50%;
      h3 p{
        max-width:70%;
        
      }
    }
  }
}
