/** @format */

//
// Styles
//

// Import variables
@import "./variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Global CSS
@import "./global.scss";

// Components
@import "./components/sidebar.scss";
@import "./components/buttons.scss";

// Sections
@import "./sections/cta.scss";
@import "./sections/footer.scss";
@import "./sections/map.scss";
@import "./sections/masthead.scss";
@import "./sections/portfolio.scss";
@import "./sections/services.scss";
@import "contact.scss";
@import "about.scss";
@import "team.scss";
body {
  font-family: "Roboto Mono";
}

.calendarWrapper {
  overflow: hidden;
  .hidden {
    opacity: 0;
    filter: blur (5px);
    transform: translateX(-20%);
    transition: all 1s;
    height: 100%;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
    max-height: 100%;
  }
  h2 {
    animation: blinker 2s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}

.content-section {
  .hidden {
    opacity: 0;
    filter: blur (5px);
    transform: translateX(0%);
    transition: all 1s;
    height: 100%;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
    max-height: 100%;
  }
}

.list-inline .mb-5 {
  .hidden {
    opacity: 0;
    filter: blur (5px);
    transform: translateX(0%);
    transition: all 2s;
    height: 100%;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
    max-height: 100%;
  }
}
