/** @format */

//
// Styles
//

// Import variables
@import "./variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Global CSS
@import "./global.scss";

// Components
@import "./components/sidebar.scss";
@import "./components/buttons.scss";

// Sections
@import "./sections/cta.scss";
@import "./sections/footer.scss";
@import "./sections/map.scss";
@import "./sections/masthead.scss";
@import "./sections/portfolio.scss";
@import "./sections/services.scss";
@import "contact.scss";
@import "about.scss";
@import "team.scss";
@import "portfolio.scss";
@import "blog_overview.scss";
@import "calendar.scss";
body {
  font-family: "Roboto Mono";
}

.calendarWrapper {
  overflow: hidden;
  .hidden {
    opacity: 0;
    filter: blur (5px);
    transform: translateX(-20%);
    transition: all 1s;
    height: 100%;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
    max-height: 100%;
  }
  h2 {
    animation: blinker 2s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}

.content-section {
  .hidden {
    opacity: 0;
    filter: blur (5px);
    transform: translateX(0%);
    transition: all 1s;
    height: 100%;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
    max-height: 100%;
  }
}

.list-inline .mb-5 {
  .hidden {
    opacity: 0;
    filter: blur (5px);
    transform: translateX(0%);
    transition: all 2s;
    height: 100%;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
    max-height: 100%;
  }
}

// Typewriter Main
.typewriter {


    h3 {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 0.15em solid orange; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: 0.15em; /* Adjust as needed */
      animation: typing 2s steps(40, end), blink-caret 1.2s step-end infinite;
      font-size:22px !important;

    }
    @media(max-width:1500px){
      h3{
      font-size:20px !important;
     }
    }

    @media(max-width:1200px){
      h3{
      font-size:16px !important;
     }
    }

    @media(max-width:px){
      h3{
      font-size:10px !important;
     }
    }

    /* The typing effect */
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 80%;
      }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: #1c809f;
      }
    }
  }


